@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600&family=Playfair+Display:wght@400;600;700&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    @apply font-sans text-slate-800 bg-gray-50 antialiased;
  }
  h1, h2, h3, h4, h5, h6 {
    @apply font-serif text-black;
  }
}
